/* UNIVERSAL STYLES */

* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

:root {
    --color1: white;
    --color2: linear-gradient(to right, #672280 0%, #A626D3 100%);
}

/* HEADER STYLES */

.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: grey;
    padding: 0 29px;
    height: 65px;
    width: auto;
    background: var(--color2);
}

.headerSub--container {
    display: flex;
    align-items: center;
}

.header--title {
    font-size: 1.3rem;
    margin-left: 7px;
    color: var(--color1);
}

.troll {
    background-color: var(--color1);
    height: 31px;
    width: auto;
}

.header--course {
    color: var(--color1);
    font-size: 1rem;
    opacity: 0.5;
}

/*MEME FORM STYLES*/

.form--container {
    margin: 28px 37px;
}

.labels--container {
    display: flex;
    justify-content: space-evenly;
}

/*FORM STYLES*/

.form--container {
    margin: 28px 37px;
}

.labels--container {
    display: flex;
    justify-content: space-evenly;
}

#label--container1 {
    width: 222px;
    height: 55px;
}

.label--title {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.input {
    padding: 10.5px 9px;
    width: 80%;
    font-size: 0.75rem;
}

.submit--input {
    width: 100%;
    margin: 15px 0;
    padding: 10px 0;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    border-radius: 6px;
    border: none;
}