/* UNIVERSAL STYLES */

* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

:root {
    --color1: rgb(255, 255, 255);
    --color2: linear-gradient(to right, #672280 0%, #A626D3 100%);
}

main {
    padding: 36px;
}

/* HEADER STYLES */

.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: grey;
    padding: 0 29px;
    height: 65px;
    width: auto;
    background: var(--color2);
}

.headerSub--container {
    display: flex;
    align-items: center;
}

.header--title {
    font-size: 1.3rem;
    margin-left: 7px;
    color: var(--color1);
}

.troll {
    background-color: var(--color1);
    height: 31px;
    width: auto;
}

.header--course {
    color: var(--color1);
    font-size: 1rem;
    opacity: 0.5;
}

/*MEME FORM STYLES*/

.form {
    display: grid;
    grid-template: 60px 60px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 2rem;
    margin-top: 0.5rem;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    background: var(--color2);
    color: var(--color1);
    border: none;
    cursor: pointer;
    height: 4.5rem;
}

.input--labels {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
}